{% extends 'Base.html' %}
{% block title %}LogIn{% endblock %}
{% block body %}
	<div class="modal-dialog" role="document" style="margin: auto; margin-top: 120px; ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				</div>
				<div class="modal-body">
				<form  method="post">
					{% csrf_token %}
					<table>
						{{ form }}
					</table>
					<div class="modal-footer">
						<input class="btn btn-primary" type="submit" value="Войти" >
					</div>
				</div>
			</div>
		</div>
{% endblock %}