{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}About {{info.0}}{% endblock %}
{% block body %}
    	<div style="padding-top: 10px"> <H1 class = "text2"><strong>{{info.song_name}}</strong></H1></div>
    <div class="row">
        <div  class="col-lg-3">
        <div style="color: #98C4E7; margin-left: 20px; padding-top: 6px;">
            {% if info.album_picture == 'None' %}
            {% else %}
                <img style="border: 3px dashed #7D4A96" src="{% static  ""%}{{info.album_picture}}">
            {% endif %}
            <P>Artist: {{ info.artist }}</P>
            <P>Song: {{ info.song_name }}</P>

            <p>Album:
                {% if info.album == '' %}
                    Нет данных об альбоме
                {% else %}
                    {{ info.album }}
                {% endif %}
                </P>
            <P>Genre: {{ info.genre }}</P>
            <p>Track year: {{ info.year_published }}</P>
            <p><audio controls style="border: 4px dashed #7D4A96; border-radius: 26px"><source src="{% static  ""%}{{info.song_file}}"  type="audio/mp3"></audio></P>

            <a class="nav-link" href="{{ info.song_name }}/like"><button type="button" class="btn btn-outline-primary">
                {% if user_like|length == 1 %}
                    Удалить из play list'a
                    {% else %}
                    Сохранить в play list
                {% endif %}
            </button> <span class="sr-only">(current)</span></a>

        </div>
        </div>
        <div  class="col-lg-2">
            <div>
            {% if likes|length == 0 %}
                <p class="Head">Трек пока никто не сохранил</p>
                {% else %}
                <p class="Head">Слушают:</p>
                <div style="color: #98C4E7; margin-left: 20px; padding-top: 6px;">
                {% for like in likes %}
                    <p>{{ like.username }}</p>
                {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
        <div  class="col-lg-7">
         <p class="Head">Комментарии:</p>
            <form  method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="textbox">{{ field }}</div>
                {% endfor %}
                <input class="btn btn-primary" style="width: 310px" type="submit" value="Прокомментировать">
            </form>
            <div>
            {% if comments|length == 0 %}
                <p class="Head">Комментариев нет</p>
                {% else %}
                <div style="color: #98C4E7; margin-left: 20px; padding-top: 6px;">
                <table>
                {% for comment in comments %}
                    <p><tr style="font-weight:bold"><td >{{ comment.username}}</td><td>&nbsp;{{ comment.date }}: &nbsp;</td><td style="font-style: italic">&nbsp;{{ comment.comment}}</td></tr></p>
                {% endfor %}
                </table>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}